/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fundo com imagem */
body {
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url('https://images.unsplash.com/photo-1517832606299-7ae9b720a186') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Camada escura por cima da imagem */
.overlay {
    width: 100%;
    height: 100%;
    background: rgba(20, 20, 20, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Caixa central */
.conteudo {
    text-align: center;
    color: #fff;
    padding: 60px;
    background-color: rgba(102, 102, 102, 0.25);
    border-left: 6px solid #ff6600;
    border-radius: 12px;
    backdrop-filter: blur(6px);
    align-items: center;
}

/* Título */
.conteudo h1 {
    font-size: 34px;
    margin-bottom: 55px;
}

.conteudo h3 {
    font-weight: 400;
    margin-bottom: 30px;
    color: #ddd;
}

/* Botão */
.conteudo button {
    padding: 14px 30px;
    background-color: #ff6600;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.conteudo button:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(255, 102, 0, 0.4);
}
.logo {
    width: 200px;
    margin-bottom: 0%;
    filter: drop-shadow(0 0 10px rgba(255,102,0,0.35));
}