*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI, sans-serif;
}

/* BOTAO MENU */

.voltar-menu{

position:fixed;

top:20px;
left:20px;

color:#ff6600;

font-size:16px;

font-weight:600;

text-decoration:none;

background:rgba(0,0,0,0.6);

padding:8px 14px;

border-radius:6px;

transition:0.3s;

z-index:10;

}

.voltar-menu:hover{

background:#ff6600;

color:white;

}

/* CONTAINER */

.container{

display:flex;

height:100vh;

}

/* IMAGEM BARBEARIA */

.lado-imagem{

flex:1;

background-image:
linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
url("https://images.unsplash.com/photo-1622286342621-4bd786c2447c");

background-size:cover;

background-position:center;

}

/* LADO FORM */

.lado-form{

flex:1;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#0f0f0f,#3a3a3a);

}

/* CARD */

.cadastro{

width:380px;

padding:40px;

background:rgba(66, 66, 66, 0.9);

border-radius:12px;

box-shadow:0 15px 40px rgba(0,0,0,0.6);

border-left:5px solid #ff6600;

}

/* TITULO */

.cadastro h1{

text-align:center;

color:white;

margin-bottom:25px;

}

/* LABEL */

.cadastro label{

color:#ccc;

font-size:13px;

font-weight:600;

}

/* INPUT */

.cadastro input{

width:100%;

padding:12px;

margin:8px 0 18px;

border:none;

border-radius:6px;

background:#e9e9e9;

font-size:14px;

}

/* FOCUS */

.cadastro input:focus{

outline:none;

box-shadow:0 0 8px #ff6600;

}

/* BOTAO */

.cadastro button{

width:100%;

padding:13px;

border:none;

border-radius:6px;

background:#ff6600;

color:white;

font-weight:bold;

font-size:15px;

cursor:pointer;

transition:0.3s;

}

.cadastro button:hover{

background:#ff7f24;

transform:translateY(-2px);

}

/* LOGIN LINK */

.login-link{

margin-top:15px;

display:flex;

justify-content:center;

gap:5px;

font-size:14px;

}

.login-link p{

color:#ccc;

}

.login-link a{

color:#ff6600;

text-decoration:none;

font-weight:600;

}

.login-link a:hover{

text-decoration:underline;

}

/* RESPONSIVO */

@media (max-width:900px){

.container{

flex-direction:column;

}

.lado-imagem{

height:250px;

}

}