*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins, sans-serif;
}

/* BOTAO MENU */

.voltar-menu{

position:fixed;

top:20px;
left:20px;

color:#ff6600;

font-weight:600;

text-decoration:none;

background:rgba(54, 54, 54, 0.6);

padding:8px 14px;

border-radius:6px;

transition:0.3s;

}

.voltar-menu:hover{

background:#ff6600;

color:white;

}

/* CONTAINER */

.container{

display:flex;

height:100vh;

}

/* IMAGEM */

.lado-imagem{
    flex: 1;

    background-image:
    linear-gradient(rgba(0,0,0,0.80), rgba(0,0,0,0.80)),
    url("https://images.unsplash.com/photo-1621605815971-fbc98d665033");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* LADO LOGIN */

.lado-form{

flex:1;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#0f0f0f,#3a3a3a);

}

/* CARD LOGIN */

.login-box{

width:350px;

padding:40px;

background:rgba(59, 59, 59, 0.9);

border-radius:12px;

box-shadow:0 15px 40px rgba(0,0,0,0.6);

border-left:5px solid #ff6600;

}

/* TITULO */

.login-box h1{

text-align:center;

color:white;

margin-bottom:25px;

}

/* LABEL */

.login-box label{

color:#ccc;

font-size:13px;

font-weight:600;

}

/* INPUT */

.login-box input{

width:100%;

padding:12px;

margin:8px 0 18px;

border:none;

border-radius:6px;

background:#e9e9e9;

}

/* BOTAO */

.login-box button{

width:100%;

padding:13px;

border:none;

border-radius:6px;

background:#ff6600;

color:white;

font-weight:bold;

cursor:pointer;

transition:0.3s;

}

.login-box button:hover{

background:#ff7f24;

transform:translateY(-2px);

}

/* LINK */

.cadastro-link{

margin-top:15px;

text-align:center;

color:#ccc;

}

.cadastro-link a{

color:#ff6600;

text-decoration:none;

font-weight:600;

}

.cadastro-link a:hover{

text-decoration:underline;

}