/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* FUNDO */
body {
    height: 100vh;
    background: linear-gradient(135deg, #1c1c1c, #2b2b2b);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CONTAINER CENTRAL */
.container {
    width: 90%;
    max-width: 500px;
}

/* TÍTULO */
.titulo-principal {
    text-align: center;
    color: white;
    margin-bottom: 30px;
    font-size: 28px;
}

/* CARD */
.card {
    background-color: #5a5a5a;
    padding: 30px;
    border-radius: 15px;
    margin-bottom: 25px;
    position: relative;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

/* BARRA LARANJA LATERAL */
.card::before {
    content: "";
    position: absolute;
    left: -5px;
    top: 20px;
    width: 5px;
    height: 80%;
    background-color: #ff6600;
    border-radius: 5px;
}

/* TITULO CARD */
.card h2 {
    text-align: center;
    color: white;
    margin-bottom: 15px;
    font-size: 18px;
}

/* INPUT E SELECT */
input, select {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    font-size: 15px;
    outline: none;
}

/* BOTÃO */
.btn-confirmar {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 12px;
    background-color: #2e2e2e;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}

.btn-confirmar:hover {
    background-color: #ff6600;
    transform: scale(1.05);
}
.btn-confirmar {
    display: block;
    text-align: center;
    text-decoration: none;
}